<div class="ecfr-analyzer-container">
  <h1 class="title">📊 eCFR Analyzer</h1>

  <!-- Loading indicator -->
  <div class="loading" *ngIf="isLoading">
    <p>Loading agencies...</p>
  </div>

  <!-- Selection Box -->
  <div class="section">
    <label for="agencySelect" class="dropdown-label">Choose an Agency:</label>
    <select id="agencySelect" [(ngModel)]="selectedAgencySlug" (change)="onAgencySelected(selectedAgencySlug)">
      <option value="" disabled selected>-- Select an Agency --</option>
      <ng-container *ngFor="let agency of agencies">
        <ng-container *ngIf="agency.children && agency.children.length > 0; else noChildren">
          <optgroup [label]="agency.displayName">
            <option [value]="agency.slug">{{ agency.displayName }}</option>
            <option *ngFor="let child of agency.children" [value]="child.slug">
              - {{ child.displayName }}
            </option>
          </optgroup>
        </ng-container>
        <ng-template #noChildren>
          <option [value]="agency.slug">{{ agency.displayName }}</option>
        </ng-template>
      </ng-container>
    </select>
  </div>

  <!-- Data Summary Section -->
  <div class="data-summary">
    <div class="data-card">
      <h3>Latest Data Date</h3>
      <p>{{ currentDate }}</p>
    </div>
    <div class="data-card">
      <h3>Word Count for Selected Agency</h3>
      <p *ngIf="currentWordCount !== null && !calculatingWordCount">{{ currentWordCount | number }}</p>
      <p *ngIf="currentWordCount === null && !calculatingWordCount">Select an Agency Above</p>
      <div class="loading-text-container" *ngIf="calculatingWordCount">
        <p class="loading-text">Calculating word count...</p>
        <p class="loading-text-small">This may take longer for large agencies...</p> 
      </div>
    </div>
    <div class="data-card">
      <h3>Total # of Changes</h3>
      <p>{{ totalChanges }}</p>
    </div>
  </div>

  <!-- Historical Daily Changes Bar Chart -->
  <div class="chart-section">
    <div *ngIf="isChartLoading">Loading chart data, this may take longer for large agencies...</div>
    <canvas *ngIf="historicalChangesLoaded && !isChartLoading" id="dailyChangesChart"></canvas>
  </div>

  <!-- Selected Date Changes -->
  <div class="section" *ngIf="selectedDate && selectedDateChanges && selectedDateChanges.length > 0">
    <h3>Changes on {{ selectedDate }}</h3>
    <ul>
      <li *ngFor="let change of selectedDateChanges">
        {{ change }}
      </li>
    </ul>
  </div>
</div>
